<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{251,233},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{219,169},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{251,169},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{251,201},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{253,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{253,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,169},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,211},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,169},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,211},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{6,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{211,169},{6,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,169},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,211},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{127,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{127,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{127,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{127,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{127,169},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{127,211},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{169,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{169,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{169,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{211,211},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{169,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{169,169},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{169,211},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{211,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{211,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{211,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{211,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{284,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75cd27322d9faf628e341af7782071e4:37f277b0b0e371266212218697869179:544c64e63d0b9630b74f34aa38307e54$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
